
    <div class="container">
        <h3 class="center-align"> Eliminar Plan</h3>
            <div class="input-field">
                <strong>¿Estás seguro de eliminar este plan con la siguiente información?</strong>
                <br />
                <ul>
                    <li>
                        ID: {{id}}
                    </li>
                    <li>
                        NOMBRE: {{nombre}}
                    </li>
                </ul>
            </div>
    
            <div class="col-18">
                <button class="btn btn-success" type="submit" (click)="EliminarPlan()">Eliminar</button>        
                &nbsp;<a class="btn btn-warning orange" type="submit" routerLink="/administrador/buscar-producto">Cancelar</a>
            </div>
    </div>
